<?xml version='1.0' encoding='UTF-8' ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:h="http://xmlns.jcp.org/jsf/html"
      xmlns:jsf="http://xmlns.jcp.org/jsf" 
      xmlns:f="http://xmlns.jcp.org/jsf/core"
      xmlns:p="http://primefaces.org/ui">
    <h:head>
        <title>Facelet Title</title>
        <meta name="Keywords" content="Urdu editor, Urdu typing, online Urdu text editor, Urdu inpage, Urdu keyboard, Urdu"/>
        <meta name="Description" content="Online Urdu Editor – Find free Urdu typing keyboard and text editor for writing; typing online. Free inpage software for typing online"/>
        <meta content="Microsoft Visual Studio .NET 7.1" name="GENERATOR"/>
        <meta content="C#" name="CODE_LANGUAGE"/>
        <meta content="JavaScript" name="vs_defaultClientScript"/>
        <!--<meta content="http://schemas.microsoft.com/intellisense/ie5" name="vs_targetSchema">-->
        <link href="css/hamariweb.css" type="text/css" rel="stylesheet"/>
        <!--<script type="text/javascript"  src="https://me-ssl.effectivemeasure.net/em.js"></script>-->
        <!--<script type="text/javascript" async="" src="https://d31qbv1cthcecs.cloudfront.net/atrk.js"></script>-->
        <!--<script async="" type="text/javascript" src="https://www.googletagservices.com/tag/js/gpt.js"></script>-->
        <script language="javascript" src="JS/dic.js" type="text/javascript"></script>
        <script language="javascript" src="JS/keyboard.js" type="text/javascript"></script>
        <!--<script src="JS/integration.js" type="text/javascript"></script>-->
        <!--<link  href="https://adservice.google.com.pk/adsid/integrator.js?domain=hamariweb.com" />-->
        <!--<script type="text/javascript" src="https://adservice.google.com.pk/adsid/integrator.js?domain=hamariweb.com">-->

        <!--</script>-->
        <!--<link  href="https://adservice.google.com/adsid/integrator.js?domain=hamariweb.com" >-->
        <!--<script type="text/javascript" src="https://adservice.google.com/adsid/integrator.js?domain=hamariweb.com"></script>-->
        <!--<script src="https://securepubads.g.doubleclick.net/gpt/pubads_impl_modern_2019103101.js?21065059" async=""></script>-->


        <!--   <script src="http://www.google-analytics.com/urchin.js" type="text/javascript">
        </script>-->
    </h:head>
    <h:body>
        <h:form>
            <table cellspacing="0" cellpadding="4" width="95%" border="0">
                <tbody>
                    <!--    <tr>
                    <td class="TextClass" width="50%" align="left"><b>Write in Urdu and save it to your
                    computer.</b></td>
                    <td class="TextClassUrdu" width="50%" align="right"><b>اردو میں لکھ کر اپنے کمپیوٹر میں
                    محفوظ کرلیں</b></td>
                    </tr>-->
                    <tr>
                        <td class="TextClass" width="100%" align="center" colspan="2">
                            <br/>
                            <map name="FPMap0">
                                <area shape="RECT" coords="4,4,26,22" href="Javascript:hurf('zal')"></area>
                                <area shape="RECT" coords="30,5,50,22" href="Javascript:hurf('dhal')"></area>
                                <area shape="RECT" coords="53,4,72,21" href="Javascript:hurf('dal')"></area>
                                <area shape="RECT" coords="76,4,99,23" href="Javascript:hurf('khay')"></area>
                                <area shape="RECT" coords="103,4,123,23" href="Javascript:hurf('hay1')"></area>
                                <area shape="RECT" coords="128,3,147,22" href="Javascript:hurf('chay')"></area>
                                <area shape="RECT" coords="153,3,172,22" href="Javascript:hurf('jim')"></area>
                                <area shape="RECT" coords="178,4,196,21" href="Javascript:hurf('say')"></area>
                                <area shape="RECT" coords="201,4,222,22" href="Javascript:hurf('thay')"></area>
                                <area shape="RECT" coords="225,3,245,22" href="Javascript:hurf('tay')"></area>
                                <area shape="RECT" coords="251,3,272,23" href="Javascript:hurf('pay')"></area>
                                <area shape="RECT" coords="277,2,296,21" href="Javascript:hurf('bay')"></area>
                                <area shape="RECT" coords="305,2,320,23" href="Javascript:hurf('alif')"></area>
                                <area shape="RECT" coords="329,2,349,22" href="Javascript:hurf('alifmada')"></area>
                                <area shape="RECT" coords="4,27,24,45" href="Javascript:hurf('qaf')"></area>
                                <area shape="RECT" coords="28,28,50,44" href="Javascript:hurf('fay')"></area>
                                <area shape="RECT" coords="54,27,71,46" href="Javascript:hurf('gain')"></area>
                                <area shape="RECT" coords="79,27,97,45" href="Javascript:hurf('ain')"></area>
                                <area shape="RECT" coords="104,26,123,45" href="Javascript:hurf('zhoy')"></area>
                                <area shape="RECT" coords="129,27,146,42" href="Javascript:hurf('thoy')"></area>
                                <area shape="RECT" coords="153,26,172,44" href="Javascript:hurf('duad')"></area>
                                <area shape="RECT" coords="180,27,196,45" href="Javascript:hurf('suad')"></area>
                                <area shape="RECT" coords="203,27,221,45" href="Javascript:hurf('sheen')"></area>
                                <area shape="RECT" coords="225,26,245,46" href="Javascript:hurf('seen')"></area>
                                <area shape="RECT" coords="252,26,272,44" href="Javascript:hurf('zhay')"></area>
                                <area shape="RECT" coords="277,28,298,45" href="Javascript:hurf('zay')"></area>
                                <area shape="RECT" coords="302,27,320,46" href="Javascript:hurf('rahy')"></area>
                                <area shape="RECT" coords="328,27,349,46" href="Javascript:hurf('ray')"></area>
                                <area shape="RECT" coords="4,51,23,69" href="Javascript:hurf('bariya')"></area>
                                <area shape="RECT" coords="28,49,47,67" href="Javascript:hurf('ya')"></area>
                                <area shape="RECT" coords="54,51,72,67" href="Javascript:hurf('yamada')"></area>
                                <area shape="RECT" coords="78,51,96,66" href="Javascript:hurf('dochachmihay')"></area>
                                <area shape="RECT" coords="104,49,121,66" href="Javascript:hurf('hay')"></area>
                                <area shape="RECT" coords="128,51,147,68" href="Javascript:hurf('hamza')"></area>
                                <area shape="RECT" coords="152,49,171,68" href="Javascript:hurf('wowmada')"></area>
                                <area shape="RECT" coords="176,49,196,69" href="Javascript:hurf('wow')"></area>
                                <area shape="RECT" coords="203,51,220,68" href="Javascript:hurf('gunah')"></area>
                                <area shape="RECT" coords="227,49,247,68" href="Javascript:hurf('noon')"></area>
                                <area shape="RECT" coords="253,48,272,68" href="Javascript:hurf('mim')"></area>
                                <area shape="RECT" coords="277,49,297,67" href="Javascript:hurf('lam')"></area>
                                <area shape="RECT" coords="301,50,320,67" href="Javascript:hurf('gaf')"></area>
                                <area shape="RECT" coords="326,48,349,69" href="Javascript:hurf('kaf')"></area>
                                <area shape="RECT" coords="301,75,348,92" href="Javascript:hurf('entr')"></area>
                                <area shape="RECT" coords="229,73,298,92" href="Javascript:hurf('space')"></area>
                                <area shape="RECT" coords="155,74,223,91" href="Javascript:hurf('bspace')"></area>
                                <area shape="RECT" coords="127,74,147,94" href="Javascript:hurf('dash')"></area>
                                <area shape="RECT" coords="104,75,125,91" href="Javascript:hurf('Allah')"></area>
                            </map>
                            <img height="96" src="Keyboard_New.jpg" width="350" usemap="#FPMap0" border="0"></img>

                            <br/>
                            <br/>
                            <textarea name="txt1"  rows="10" cols="20" id="txt1" class="searchformMultiLine" dir="rtl" onkeypress="search('','txt1')" style="FONT-FAMILY: Arial"></textarea><br/>
                            <br/>
                            <input type="text" id="txt2" onkeypress="search('','txt2')" class="searchformMultiLine" dir="rtl"/>
                            <p:growl id="msg" showDetail="true" />  
                            <p:remoteCommand name="rcString" update="msg"   actionListener="#{getvalue.saveListener1()}"/>
                            <button  type="button" class="button" onclick="myFunction()">Save</button>
                            <style>
                                .button {
                                    background-color: #4CAF50;
                                    border: none;
                                    color: white;
                                    /*padding: 15px 32px;*/
                                    text-align: center;
                                    text-decoration: none;
                                    display: inline-block;
                                    font-size: 16px;
                                    margin: 4px 2px;
                                    cursor: pointer;
                                    width: 70px;
                                    height: 30px;
                                }
                            </style>

                            <!--<input type="submit" name="Button1" value="Save" id="Button1" class="TextBox"/>-->
                        </td>
                    </tr>
                </tbody></table>
            <script>
                function myFunction() {
                    var x = document.getElementById("txt1").value;
                    rcString([{name: 'receivevalue', value: x}]);

                }
            </script>
            <script type="text/javascript">
                _atrk_opts = {atrk_acct: "VnRTj1acFH00yu", domain: "hamariweb.com", dynamic: true};
                (function () {
                    var as = document.createElement('script');
                    as.type = 'text/javascript';
                    as.async = true;
                    as.src = "https://d31qbv1cthcecs.cloudfront.net/atrk.js";
                    var s = document.getElementsByTagName('script')[0];
                    s.parentNode.insertBefore(as, s);
                })();
            </script>
            <noscript><img src="https://d5nxst8fruw4z.cloudfront.net/atrk.gif?account=VnRTj1acFH00yu" style="display:none" height="1" width="1" alt="" /></noscript>
            <script type="text/javascript">
                function msieversion() {
                    var ua = window.navigator.userAgent
                    var msie = ua.indexOf("MSIE ")

                    if (msie > 0)      // If Internet Explorer, return version number
                        return parseInt(ua.substring(msie + 5, ua.indexOf(".", msie)))
                    else                 // If another browser, return 0
                        return 999
                }

                (function () {
                    if (msieversion() > 6) {
                        var em = document.createElement('script');
                        em.type = 'text/javascript';
                        em.async = true;
                        em.src = ('https:' == document.location.protocol ? 'https://me-ssl' : 'http://me-cdn') + '.effectivemeasure.net/em.js';
                        var s = document.getElementsByTagName('script')[0];
                        s.parentNode.insertBefore(em, s);
                    }
                })();
            </script>

            <noscript>
                <img src="//me.effectivemeasure.net/em_image" alt="" style="position: absolute; left: -5px;" />
            </noscript>
        </h:form>
    </h:body>
</html>

